<div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
    {{ range where .Site.RegularPages "Params.tags" "intersect" (slice "featured") }}
    <div class="p-4">
        <a href="{{ .RelPermalink }}">
            <div class="w-full h-0 aspect-w-4 aspect-h-3">
                <img src="{{ .Params.previewImage }}" alt="{{ .Title }}" class="object-cover mb-2 rounded-lg">
              </div>
            <h2 class="text-lg font-semibold mb-2">{{ .Title }}</h2>
        </a>
        <p class="text-gray-600 mb-4">{{ .Description }}</p>
        <div class="flex flex-wrap">
            {{ range .Params.tags }}
            <a href="/tags/{{ . | urlize }}">
                <span class="text-sm text-gray-500 bg-gray-200 px-2 py-1 rounded-full mr-2 mb-2">{{ . }}</span>
            </a>
            {{ end }}
        </div>
    </div>
    {{ end }}
</div>