<div id="tag-buttons" class="flex flex-col md:flex-row justify-center items-center md:text-sm text-xs mb-3 mt-1">
    <button
        class="font-mono uppercase bg-indigo-500 hover:bg-indigo-400 text-white dark:text-white mx-1 md:px-3 md:py-1 px-2 py-0.5 md:rounded hidden md:block"
        aria-label="All">All</button>
    {{ $displayedPages := where .Site.RegularPages "Params.unlisted" "!=" "true" }}
    {{ $tags := slice }}
    {{ range $page := $displayedPages }}
    {{ if isset $page.Params "home" }}
    {{ if eq $page.Params.home true }}
    {{ $tags = union $tags $page.Params.tags }}
    {{ end }}
    {{ end }}
    {{ end }}
    {{ range $tag := $tags }}
    <button
        class="font-mono uppercase border border-indigo-500 text-zinc-700 dark:text-white hover:bg-indigo-400 md:mx-1 md:px-3 md:py-1 px-2 py-0.5 md:rounded md:max-w-xs hidden md:block"
        aria-label="{{ $tag }}">{{ $tag }}</button>
    {{ end }}
</div>


<div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
    {{ range where .Site.RegularPages.ByDate.Reverse ".Params.unlisted" "!=" "true" }}
    {{ if isset .Params "home" }}
    {{ if eq .Params.home true }}
    <div class="p-4 post {{ range .Params.tags }}{{ . }} {{ end }}">
        <a href="{{ .RelPermalink }}" aria-label="{{ .Title }}">
            <div class="w-full h-0 aspect-w-4 aspect-h-3">
                <img src="{{ .Params.previewImage }}" alt="{{ .Title }} hero image" class="object-cover mb-2 ">
            </div>
            <h2 class="text-xl font-medium pt-3">{{ .Title }}</h2>
        </a>
        <p class="dark:text-zinc-300 text-zinc-800 text-lg mb-2">{{ .Description }}</p>
        <div class="flex flex-wrap tags">
            {{ range .Params.tags }}
            <a href="/tags/{{ . | urlize }}" data-tag="{{ . }}"
                class="tag-link font-mono uppercase text-indigo-500 hover:underline  transition ease-in-out duration-150"
                aria-label="{{ . }}">
                <span class="text-xs mr-2 mb-2">{{ . }}</span>
            </a>
            {{ end }}
        </div>
    </div>
    {{ end }}
    {{ end }}
    {{ end }}
</div>

<script>
    // Wait for the page to load
    window.addEventListener("DOMContentLoaded", function () {
        // Get all the buttons and posts
        const buttons = document.querySelectorAll("#tag-buttons button");
        const posts = document.querySelectorAll(".post");

        // Add click event listener to each button
        buttons.forEach(function (button) {
            button.addEventListener("click", function () {
                // Remove 'active' class from all buttons
                buttons.forEach(function (btn) {
                    btn.classList.remove("bg-indigo-500", "text-white");
                    btn.classList.add("border", "border-indigo-500", "text-zinc-700");
                });

                // Add 'active' class to the clicked button
                button.classList.remove("border", "border-indigo-500", "text-zinc-700");
                button.classList.add("bg-indigo-500", "text-white");

                if (button.textContent === "All") {
                    // Show all posts if 'All' button is clicked
                    posts.forEach(function (post) {
                        post.style.display = "block";
                    });
                } else {
                    const tag = button.textContent.trim();
                    const tagClass = tag.replace(".", "-"); // Replace period with hyphen

                    // Hide all posts
                    posts.forEach(function (post) {
                        post.style.display = "none";
                    });

                    // Show only posts with the selected tag
                    const filteredPosts = document.querySelectorAll("." + tag);
                    filteredPosts.forEach(function (post) {
                        post.style.display = "block";
                    });
                }
            });
        });
    });
</script>