/* TailwindCSS base styles */
/* see https://tailwindcss.com/docs/functions-and-directives#tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;


@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  src: url('/static/fonts/inter.ttf') format('truetype');
}

@font-face {
  font-family: 'newsreader';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  src: url('/static/fonts/newsreader.ttf') format('truetype');
}

@font-face {
  font-family: 'newsreader';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  src: url('/static/fonts/newsreader-italic.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');

/* Site Specific */
/* put site specific css styles here using the @layer directive */
/* see https://tailwindcss.com/docs/functions-and-directives#layer */



@layer components {}

@layer base {
  html {
    font-family: "neue-haas-unica", sans-serif;
  }

  p {
    font-family: "warnock-pro", serif;
  }

  .accent-color {}

  .accent-bg {}



}