/* TailwindCSS base styles */
/* see https://tailwindcss.com/docs/functions-and-directives#tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/* Site Specific */
/* put site specific css styles here using the @layer directive */
/* see https://tailwindcss.com/docs/functions-and-directives#layer */



@layer components {}

@layer base {
  html {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
  }

  .prose a {
    color: #6366f1;
    text-decoration-line: none;
    transition-duration: .15s;
    transition-property: background-color, border-color, color, fill, stroke;
    transition-timing-function: ease-in-out;
  }

  .prose a:focus,
  .prose a:hover {
    color: #4f46e5;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
  }

  .info {
    font-family: 'JetBrains Mono';
  }

  /* SET DEFAULT TO NO FONT WEIGHT */
  h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
  }

  .prose h1, .prose h2, .prose h3, .prose h4,  .prose h5, .prose h6 {
    font-weight: 400;
  }


}